body {
    text-align: center;
    font-family: Arial;
}

#gameArea {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    margin: auto;
    position: relative;
}

#box {
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    cursor: pointer;
}
